<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuickNotes</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/logo.webp" type="image/x-icon">
    <style>
        .relative .blur-md::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: inherit;
            z-index: -1;
        }

        .nav-link {
        position: relative;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .nav-link:hover {
        color: #3B82F6; /* Blue color on hover */
    }
        .feature-item:hover .feature-icon {
            stroke: white;
        }
        
        .feature-item:hover p {
            color: white;
        }
    </style>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
<!-- Navbar -->
<nav class="bg-gray-800 bg-opacity-90 shadow-lg w-full fixed top-0 z-50">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-4">
                <!-- Logo -->
                <div class="flex items-center">
                    <img src="/assets/logo.webp" alt="QuickNotes Logo" class="h-12 w-12 mr-2">
                    <a href="/" class="flex items-center py-5 px-2 text-white">
                        <span class="font-bold text-lg">QuickNotes</span>
                    </a>
                </div>
                <!-- Primary Nav -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="#hero" class="py-5 px-3 text-white nav-link">Home</a>
                    <a href="#features" class="py-5 px-3 text-white nav-link">Features</a>
                    <a href="#contact" class="py-5 px-3 text-white nav-link">Contact</a>
                </div>
            </div>
            <!-- Mobile Button -->
            <div class="md:hidden flex items-center">
                <button class="mobile-menu-button">
                    <svg class="w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- Mobile Menu -->
    <div class="mobile-menu hidden md:hidden bg-gray-800 bg-opacity-90">
        <a href="#hero" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Home</a>
        <a href="#features" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Features</a>
        <a href="#contact" class="block py-2 px-4 text-sm text-white hover:bg-gray-700">Contact</a>
    </div>
</nav>


    <!-- Hero Section -->
<section id="hero" class="relative bg-cover bg-center flex-grow flex items-center justify-center overflow-hidden pt-16" style="background-image: url('/assets/notepad.webp'); background-size: cover; background-position: center; height: 100vh;">
    <!-- Gradient Overlay -->
    <div class="absolute inset-0 bg-gradient-to-r from-blue-800 via-blue-600 to-blue-400 opacity-50 z-0"></div>
    
    <!-- Content Overlay -->
    <div class="relative z-10 text-center bg-blue-100 bg-opacity-20 p-8 md:p-10 lg:p-12 rounded-lg shadow-lg max-w-3xl mx-auto">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-extrabold text-gray-900 mb-6 leading-tight">Welcome to QuickNotes</h1>
        <p class="text-lg md:text-xl lg:text-2xl text-white-700 mb-8 font-bold">The ultimate notepad app to organize your thoughts and tasks efficiently. Start creating, editing, and managing your notes with ease.</p>
        <a href="/all-notes" class="bg-blue-600 text-white px-6 py-3 md:px-8 md:py-4 rounded-full shadow-lg hover:bg-blue-500 transition duration-300 inline-block">Get Started</a>
    </div>
</section>


    <!-- Features Section -->
    <section id="features" class="bg-white py-20">
        <div class="max-w-6xl mx-auto px-4 text-center">
            <!-- Features Heading -->
            <h2 class="text-3xl md:text-4xl font-bold tracking-tight mb-6 text-gray-800">
                Explore <span class="text-blue-600">Features</span>
            </h2>
            <!-- Features Description -->
            <p class="text-lg md:text-xl lg:text-2xl text-gray-600 mb-12 leading-relaxed mx-auto max-w-3xl">
                Explore the powerful features of QuickNotes that streamline note-taking and organization. From creating to searching your notes, experience an intuitive and efficient way to manage your ideas.
            </p>
            <!-- Feature Boxes -->
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">
                <div class="feature-item p-8 bg-gray-100 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-blue-600 hover:text-white">
                    <div class="flex justify-center items-center mb-4">
                        <!-- Create Notes Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-blue-600 transition-all duration-300 feature-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20h9" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 20h3" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 17V5a2 2 0 012-2h14a2 2 0 012 2v12a2 2 0 01-2 2H8l-4 4v-4a2 2 0 00-1-1.732z" />
                        </svg>
                    </div>
                    <h3 class="font-bold text-lg mb-2">Create Notes</h3>
                    <p class="text-gray-600 transition-all duration-300">Easily create and organize your notes.</p>
                </div>
                <div class="feature-item p-8 bg-gray-100 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-green-600 hover:text-white">
                    <div class="flex justify-center items-center mb-4">
                        <!-- Edit Notes Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-green-600 transition-all duration-300 feature-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20h9" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 20h3" />
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 17V5a2 2 0 012-2h14a2 2 0 012 2v12a2 2 0 01-2 2H8l-4 4v-4a2 2 0 00-1-1.732z" />
                        </svg>
                    </div>
                    <h3 class="font-bold text-lg mb-2">Edit Notes</h3>
                    <p class="text-gray-600 transition-all duration-300">Edit your notes with ease.</p>
                </div>
                <div class="feature-item p-8 bg-gray-100 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-red-600 hover:text-white">
                    <div class="flex justify-center items-center mb-4">
                        <!-- Delete Notes Icon -->
                        <svg class="w-12 h-12 mr-1 text-red-600 transition-all duration-300 feature-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3h6v2H9V3zM4 7h16M7 7v13a1 1 0 001 1h8a1 1 0 001-1V7M10 11v6M14 11v6" />
                        </svg>
                    </div>
                    <h3 class="font-bold text-lg mb-2">Delete Notes</h3>
                    <p class="text-gray-600 transition-all duration-300">Delete notes you no longer need.</p>
                </div>
                <div class="feature-item p-8 bg-gray-100 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:bg-yellow-600 hover:text-white">
                    <div class="flex justify-center items-center mb-4">
                        <!-- Search Notes Icon -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-yellow-600 transition-all duration-300 feature-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a7 7 0 100 14 7 7 0 000-14zM18 18l4 4" />
                        </svg>
                    </div>
                    <h3 class="font-bold text-lg mb-2">Search Notes</h3>
                    <p class="text-gray-600 transition-all duration-300">Quickly find your notes with the search feature.</p>
                </div>
            </div>
        </div>
    </section>

   
<!-- Footer -->
<footer id="contact" class="bg-white shadow-lg w-full mt-8 py-6 flex flex-col items-center space-y-4">
    <div class="text-center text-gray-700">
        &copy; 2024 QuickNotes. All rights reserved.
    </div>
    <div class="text-center">
        <a href="https://www.linkedin.com/in/darshangodase" target="_blank" class="text-blue-600 hover:text-blue-800 transition-colors">
            Contact Me on LinkedIn
        </a>
    </div>
</footer>

    <script>
        const btn = document.querySelector('button.mobile-menu-button');
        const menu = document.querySelector('.mobile-menu');

        btn.addEventListener('click', () => {
            menu.classList.toggle('hidden');
        });
    </script>
</body>
</html>